<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Instrucciones de deposito</title>
</head>

<body>
  <table style="font-size:16px" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="3"><br></td>
    </tr>
    <tr>
      <td colspan="3">
          <TABLE style="font-size:16px width="50%" BORDER CELLPADDING=10 CELLSPACING=0>
          <tr>
            <td align="left" style="size:20px" >Código de Operación</td>
            <td colspan="2" align="left">{{numOpe}}</td>
          </tr>
          <tr>
            <td align="left" style="size:20px" >Hora de depósito máximo</td>
            <td  colspan="2" align="left">{{fd}}</td>
          </tr>
          </table>
      </td>
    </tr>
    <tr>
      <td colspan="3"><br></td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="font-weight: bold;">Paso 1: Transferencia desde tu Banco<br><br></div>
      </td>
    </tr>
    <tr width="25">
      <td><div>Monto a transferir<br></td>
      <td>{{montodep}}<br></td>
      <td>{{mdep}}<br></td>
    </tr>
    <tr width="50">
      <td>Cuenta origen</td>
      <td>{{banctaori}}</td>
      <td>{{banori}}</td>
    </tr>
    <tr>
      <td>Cuenta destino</td>
      <td>{{banctafid}}</td>
      <td>{{banfid}}</td>
    </tr>

    <tr>
      <td>Beneficiario</td>
      <td colspan="2">{{benefidsis}}</td>
    </tr>
    <tr>
      <td colspan="3"><br></td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="font-weight: bold;">Paso 2: Fideicomiso realizara transferencia al cliente<br><br>
      </td>
    </tr>
    <tr>
      <td>Monto recibir</td>
      <td>{{montorec}}</td>
      <td>{{mdes}}</td>
    </tr>
    <tr>
      <td>Tipo de cambio</td>
      <td colspan="2">{{tcope}}</td>
    </tr>
    <tr>
      <td>Cuenta destino</td>
      <td>{{banctades}}</td>
      <td>{{bandes}}</td>
    </tr>
    <tr>
      <td colspan="3"><br></td>
    </tr>
    <tr>
      <td>Beneficiario</td>
      <td colspan="2">{{beneope}}</td>
    </tr>
    <tr>
      <td>Pago de comisión</td>
      <td>{{comision}}</td>
      <td>{{mc}}</td>
    </tr>
    <tr>
      <td>Cuenta destino</td>
      <td>{{banctagod}}</td>
      <td>{{bangod}}</td>
    </tr>
    <tr>
      <td>Beneficiario</td>
      <td colspan="2">{{benegod}}</td>
    </tr>
    <tr>
      <td colspan="3"><br></td>
    </tr>
    <tr>
      <td colspan="3">Recuerde que frente a incumplimiento de depósito hasta la hora acordada se ejecuta la penalidad equivalente a 3 veces el valor de la comisión. Ante el incumplimiento de la otra parte, GoDivisa emitirá a su favor una nota de crédito equivalente a 1.5 veces el valor de la comisión aplicables a sus futuras operaciones.</td>
    </tr>
  </table>
</body>
</html>
